div[data-pjax-container]{
    width: 100%;
}

.dropzone .dz-preview .dz-image img{
    width: 100%;
}

.box-to-load-image{
    width: 11vw;
    margin-right: 2%;
    margin-bottom: 3%;
    float: left;
    height: 11vw;
    position: relative;
}

.hide{
    display: none!important;
}

.box-to-load-image:nth-child(4n+4){
    margin-right: 0;
}

.box-to-load-image i{
    position: absolute;
    font-size: 50px;
    margin-top: -25px;
    margin-left: -25px;
    color: #f66e84;
    left: 50%;
    top: 50%;
    cursor: pointer;
    display: none;
    z-index: 3;
}

.box-to-load-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box-to-load-image:hover img{
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.box-to-load-image:hover i{
    display: block;
}

.alert-image{
    display: block;
    width: 100%;
    padding: 20px!important;
    padding-bottom: 0!important;
}

.m-datatable__table thead tr th:last-child span, .m-datatable__table tbody tr td:last-child span{
    float: right;
}